body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h1 {
  font-style: italic;
  color: rgb(252, 206, 0);
  margin-top: 15%;
  font-size: 50px;
  user-select: none;
}

.increment {
  margin-right: 10px;
  font-size: 20px;
}

.decrement {
  margin-right: 10px;
  font-size: 20px;
}